<p>students works!</p>

<div class="container">
    <form>
        <div class="mb-3">
            <label for="" class="form-label">Student ID</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Student Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Student Class</label>
            <input type="text" class="form-control">
        </div>
        <button type="button" class="btn btn-primary" (click)="addStudent(studentForm)">Submit</button>
    </form>
</div>