<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">VMR School</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLinkActive="active" routerLink="students">Students</a>
                <a class="nav-link" routerLinkActive="active" routerLink="teachers">Teachers</a>
                <a class="nav-link" routerLinkActive="active" routerLink="schedules">Schedules</a>
            </div>
        </div>
    </div>
</nav>